@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.app {
  background: linear-gradient(to left, #b5b8ff 50%, #696eff 50%);
}
.form-left {
  background: linear-gradient(to right, #8f94fb, #4e54c8);
}

@media (max-width: 400px) {
  .form-right .form-left {
    width: 300px;
  }
  .form-btns button {
    width: 100px;
  }
}
@media (max-width: 1023px) {
  .form-right {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .form-left {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
}

/* MODAL GLOBAL */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(113, 113, 113, 0.9);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.modal-content {
  width: 560px;
  margin: 15% auto;
  background-color: #fff;
  position: relative;
  transition: inherit;
  padding: 1rem;
}
@media (max-width: 600px) {
  .modal-content {
    width: 500px;
  }
 
}
@media (max-width: 500px) {
  .modal-content {
    width: 400px;
  }
}
@media (max-width: 400px) {
  .modal-content {
    width: 320px;
  }
}
